%p#notice= notice
%h1 ファイル一覧
%table
  %thead
    %tr
      %th Original name
      %th Size
      %th アップロード日時
      %th{:colspan => "2"}
  %tbody
    - @stocked_files.each do |stocked_file|
      %tr
        %td= link_to stocked_file.original_name, file_show_path(stocked_file)
        %td= easy_file_size(stocked_file.size)
        %td= stocked_file.created_at
        %td= link_to 'Download', download_path(stocked_file)
        %td= link_to 'Destroy', stocked_file, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Stocked file', new_stocked_file_path
