%p#notice= notice
%p
  %strong Original name:
  = @stocked_file.original_name
%p
  %strong Size:
  = easy_file_size(@stocked_file.size)
%p
  %strong アップロード日時:
  = @stocked_file.created_at
%p
  %strong
    = link_to "Download", download_path(@stocked_file)
= link_to 'Destroy', @stocked_file, method: :delete, data: { confirm: 'Are you sure?' }
|
= link_to 'Back', root_path
